#updates {
    position: relative;
    padding: 20px 0px 20px 0px;
}

#updates:before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 5px;
    background: #999999;
}

.timeline_square {
    width: 12px;
    height: 12px;
    display: block;
    position: absolute;
    left: -4px;
    border-top: 3px solid #e8eaed;
    border-bottom: 3px solid #e8eaed;
    margin-top: -8px;
}

.color1 {
    background-color: #f37160
}

.color2 {
    background-color: #50b848
}

.color3 {
    background-color: #f39c12
}

.color4 {
    background-color: #0073b7
}

.color5 {
    background-color: #00acd6
}

.effectHinge {
    animation: hinge 1s;
    -webkit-animation: hinge 1s;
    /* Safari and Chrome */
}

s